<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>영어 서답형 확인 문제</h1>
    <hr>
    <form action='/input-test' method="post">
        Q1. 아래의 보기를 보고 쓰시오 <br>[ {{eng_Q1}} ]
        <br><input type="text" name="engQ1" placeholder="영어 서답형 1번을 입력 해주세요.">
        <br>
        <br>Q2. 아래의 보기를 보고 쓰시오 <br>[ {{eng_Q2}} ]
        <br><input type="text" name="engQ2" placeholder="영어 서답형 2번을 입력 해주세요.">
        <br>
        <br>Q2. 아래의 보기를 보고 쓰시오 <br>[ {{eng_Q3}} ]
        <br><input type="text" name="engQ3" placeholder="영어 서답형 2번을 입력 해주세요.">
        <br><br><input type="submit" value="제출하기">
    </form>
</body>
</html>